center
	h4 Job Description
br
div We are a funded US-based startup looking for programmers in India who are enthusiastic about writing clean, maintainable, high performance code.
br
div We offer mentorship from world-class engineers (previous worked at Google, Palantir, etc) and competitive packages.
br
div Minimum requirements:
ul
	li Solid knowledge with one of: Python, Java, C, C++, C#, or Rust
	li Great written and verbal English
	li No previous work experience is required
br
div Nice to haves:
ul
	li Expertise in Python, Typescript or Rust
	li Experience with Django, Flask, React, Vue.js, etc
	li Knowledge of command line on Unix environments (Linux or Mac)
	li Open-source contributions (on Github, Bitbucket, etc)
	li Programming challenge/competition participation (e.g. Google CodeJam, HackerRank, HackerEarth, etc)
	li Personal website/project
	li Bonus - you use Vim, Emacs, Arch, i3, etc
div Job Types: Full-time, New-grad, Final-semester internship
