doctype html
html(lang='en')
	head
		meta(content="width=device-width, initial-scale=1", name="viewport")
		title PK Hiring
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
		link(href='pages.min.css', type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
		style.
			body {
				padding-top: 50px;
			}
			html, body {
				height: 100%;
				font-size: 0.9em;
			}
			[v-cloak] {
				display: none;
			}
		link(href="https://unpkg.com/nprogress@0.2.0/nprogress.css", rel="stylesheet")
		script(src="https://unpkg.com/nprogress@0.2.0/nprogress.js")
	body(style="font-family: 'Courier New', Courier, monospace;")
		block content
		script(src='/build.js')
